body {
    margin: 0;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.top_parent {
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    padding: 3% 6%;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
}

nav {
    margin-bottom: 4%;
}

.small_parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
}

.mockup_img {
    width: 80%;
}

.message {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

button {
    width: 100px;
    color: magenta;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.communicate_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-column: 1/3;
}

.fa_icons {
    color: white;
    margin: 4px;
    padding: 4px;
}